.nav_container {
  position: fixed;
  padding: 0 30px;
  right: 0;
  left: 0;
  // top: 45%;
  top: 50vw;
  section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 999;
    .scrollDown {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-color: var(--gdg-white);
      display: flex;
      justify-content: center;
      align-items: center;
    }
    nav {
      margin: auto;
      display: flex;
      gap: 9px;
      align-items: center;
      justify-content: center;
      background-color: var(--gdg-white);
      padding: 8px;
      border-radius: 100px;
      color: var(--gdg-black);

      a {
        border: 1px solid var(--gdg-black);
        padding: 10px 9px;
        border-radius: 100px;
        transition: background-color 0.5s, border 0.3s;
      }

      .active {
        background-color: var(--gdg-black);
        color: var(--gdg-white);
      }

      a:hover {
        background-color: var(--gdg-black);
        color: var(--gdg-white);
      }
    }

    div {
      button {
        display: flex;
        align-items: center;
        justify-content: center;
        background: transparent;
        border: none;
        color: var(--gdg-white);
        width: 55px;
        height: 55px;
        border-radius: 50%;
        background: conic-gradient(
          from 130.3deg at 50.96% 56.41%,
          #34a853 -27.19deg,
          #4285f4 61.15deg,
          #ea4335 155.76deg,
          #fbbc04 245.62deg,
          #34a853 332.81deg,
          #4285f4 421.15deg
        );
        box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3), 0px 3px 6.24px 0.78px rgba(226, 226, 226, 0.2);

        .play_icon {
          width: 23px;
          height: 12px;
        }
      }
    }
  }
}
