.container {
  font-family: "Mulish", sans-serif;
  width: 546px;
  background: #ffffff;
  box-shadow: 2px 5px 18px 0px #0000004d;
  border-radius: 12px;
  color: #202124;

  .body {
    display: flex;
    gap: 24px;

        .image {
            align-self: center;
            padding-left: 24px;

            img {
            width: 93px;
            height: 93px;
            }
        }    

        .title {
            padding-top: 12px;

            .text {
                display: flex;
                gap: 68px;
                
                h1 {
                    font-weight: 700;
                    font-size: 20px;
                    line-height: 40px;
                }
                
                .right {
                    display: flex;
                    list-style: none;
                    align-items: center;
                    gap: 12px;
                    
                    img {
                        width: 10px;
                        height: 10px;
                    }
                    p {
                        font-weight: 500;
                        font-size: 10px;
                        line-height: 20px;
                    }
                }
            }

            .article {
                font-weight: 500;
                font-size: 16px;
                line-height: 32px;
                padding-bottom: 7px;
            }
            

            .icon {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-left: 0;
            padding-bottom: 18px;
            

                li {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    list-style: none;
                    font-weight: 500;
                    font-size: 10px;
                    gap: 10px;
                }
            }
        }
        
    }

}
