.speakers_container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 90%;
    margin: 5rem auto;
    height: 90vh;
  
    

    .images_container{
        max-width: 800px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 3rem;
        
        .prev{
            position: relative;
            left: 50px;
            overflow: hidden;
           
        }

        .next{
            position: relative;
            right: 50px;
            overflow: hidden;
        }
        .prev, .next{
            width: 230px;
            background-color: white;
            border-radius: 12px;
            border: none;
            height: 390px;
            padding: 1rem;
            color: black;
            text-align: center;
            z-index: -2;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

            img{
                width: 140px;
                height: 140px;
                border-radius: 50%;
                display: block;
                margin: auto;
                margin-bottom: 0.4rem;
            }

            div{
                h3{
                    margin-bottom: 0.7rem;
                }

                p{
                    line-height: 1.5rem;
                    font-size: 15px;
                }
            }
        }

        div{
            max-width: 330px;
            
            // .controls {
            //         // margin-top: 30px;
            //         display: flex;
            //         justify-content: center;
            //         align-items: center;
            //         gap: 50px;
            //         // position: absolute;
            //         // display: none;
            
            //         button {
            //             width: 35px;
            //             height: 35px;
            //             background: transparent;
            //             color: white;
            //             border: 1.5px solid white;
            //             border-radius: 50%;
            //         }

            //         .first{
            //             position: absolute;
            //             left: 0px;
            //             top: 50%;
            //         }

            //         .second{
            //             position: absolute;
            //             right: 0px;
            //             top: 50%;
            //         }
            
            //         button:hover {
            //             background-color: white;
            //             color: black;
            //         }
            // }

            // @media screen and (max-width: 600px){
            //     .controls{
            //         display: flex;
            //         justify-content: center;
            //         align-items: center;
            //         gap: 50px;
            //         // position: absolute;
            //         // display: block;

            //         .first{
            //             position: absolute;
            //             left: 30px;
            //             // top: 50%;
            //         }

            //         .second{
            //             position: absolute;
            //             right: 30px;
            //             // top: 50%;
            //         }
            //     }
            // }
            .active{
                width: 330px;
                height: auto;
                background-color: white;
                border-radius: 12px;
                color: black;
                text-align: center;
                border: none;
                padding: 1rem;
                z-index: 3;
                overflow: auto;
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

                img{
                    width: 170px;
                    height: 170px;
                    border-radius: 50%;
                    display: block;
                    margin: auto;
                    margin-bottom: 0.4rem;
                }

                div{
                    h3{
                        margin-bottom: 0.7rem;
                    }

                    p{
                        line-height: 1.5rem;
                        font-size: 15px;
                    }

                    
                }

                .icons{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 10px;
                    margin-top: 15px;
                    a{
                        img{
                            width: 35px;
                            height: 35px;
                        }
                    }
                }
            }
        }
    }

    .text{
        max-width: 400px;
        margin-top: 2rem;

        div{
            h2{
                font-size: 35px;
                margin-bottom: 1.5rem;
            }
        }

        p{
            line-height: 2rem;
            font-size: 14px;
        }
    }
}

@media screen and (max-width: 600px) {
    .speakers_container{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        // margin-top: 9rem;
        margin-bottom: 4rem;

        .images_container{
            display: flex;
            align-items: center;
            justify-content: center;
            max-width: 800px;
            margin: auto;
            order: 2;

            .prev, .next{
                display: none;
            }

            div{
                .active{
                    display: block;
                    max-width: 300px;
                }
            }
            
            
        }

        .text{
            margin-bottom: 3rem;
            order: 1;

            div{
                h2{
                    font-size: 36px;
                    text-align: center;
                }
            }
        }
    }
}
