@import '../../styles/abstracts/mixins';

.sponsor_container {
    max-width: 90%;
    margin: auto;
    // position: relative;
    display: flex;
    height: 90vh;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 30px;
    // border: 1px solid red;

    section {
        h3 {
            font-size: 40px;
            letter-spacing: 1px;
            font-weight: bolder;
            margin-bottom: 1rem;
        }

        @media screen and (max-width: 600px) {
            h2{
                font-size: 36px;
                text-align: center;
                margin-bottom: 1rem;
            }
        }

        p {
            line-height: 2rem;
        }
    }

    .text_container {
        max-width: 450px;
        height: auto;
        margin-bottom: 2.5rem;
        line-height: 2.2rem;
    }

    .image_container {
        text-align: center;

        .image_holder {
            display: flex;
            margin: auto;
            width: 300px;
            height: 300px;
            border: 4px solid tomato;
            border-radius: 50%;
            align-items: center;

        }

        img{
            align-self: center;
            
            width: 200px;
            height: 200px;
            display: flex;
            margin: 0 auto;

        }

        @media screen and (max-width: 600px) {
            img{
                width: 200px;
                height: 200px;
            }
        }

        .image_text {
            width: 300px;
            margin: 0.5rem auto;
            text-align: center;

            h4 {
                margin-bottom: 1rem;
                letter-spacing: 0.03rem;
                font-size: 25px;
            }

            @media screen and (max-width: 600px) {
                h4{
                    font-size: 18px;
                }
            }

            button {
                background: transparent;
                background-color: white;
                border: none;
                border-radius: 5px;
                padding: 8px;
            }
        }
    }

    .button_container {

        div {
            margin-bottom: 0.8rem;
            border: 1.5px solid white;
            border-radius: 50%;
            width: 40px;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: all .3s ease;
            button {
                background: transparent;
                border: none;
                color: white;
                transition: all .3s ease;
            }

        // div {
        //     margin-bottom: 1rem;

        //     button {
        //         background: transparent;
        //         border: 1.5px solid white;
        //         color: white;
        //         border-radius: 50%;
        //         width: 40px;
        //         height: 40px;
        //         display: flex;
        //         justify-content: center;
        //         align-items: center;
        //         transition: all .3s ease;
        //     }

            button:hover {
                color: black;
                cursor: pointer;
            }
        }

        div:hover {
            background-color: white;
            color: black;
        }
    }
}


@media screen and (max-width: 600px) {
    .sponsor_container{
        // padding: 0 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        .button_container{
            display: none;
        }
    }
}