.about_container {
  max-width: 90%;
  margin: 0 auto;
  padding: 4rem 0 6rem;

  section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    div {
      max-width: 520px;

      .about_text {
        color: #ea4335;
        letter-spacing: 0.02rem;
        margin-bottom: 1.7rem;
        font-weight: bold;
        font-size: 16px;
      }

      .headings {
        margin-bottom: 1.7rem;

        h2 {
          line-height: 46px;
          letter-spacing: 0.7px;
          font-size: 36px;
        }

        .outline {
          color: black;
          -webkit-text-stroke: 0.7px white;
        }
      }

      div {
        margin-bottom: 1.8rem;

        p {
          line-height: 30px;
        }
      }
    }
  }
}
