.about_container {
  // background-color: red;
  width: 100vw;
  height: 100vh;
  // max-width: 90%;
  // margin: 3.7rem auto;
  padding: 3.7rem;

  section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    div {
      max-width: 520px;

      .about_text {
        color: #ea4335;
        letter-spacing: 0.02rem;
        margin-bottom: 1.7rem;
        font-weight: bold;
        font-size: 16px;
      }

      .headings {
        margin-bottom: 1.7rem;

        h2 {
          line-height: 46px;
          letter-spacing: 0.7px;
          font-size: 36px;
        }

        @media screen and (max-width: 600px) {
          h2{
            font-size: 25px;
          }
        }

        .outline {
          color: black;
          -webkit-text-stroke: 0.7px white;
        }
      }

      div {
        margin-bottom: 1.8rem;

        p {
          line-height: 30px;
        }
      }
    }
  }
}

.timer {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 300px;

  div {
    text-align: center;

    h3 {
      font-size: 36px;
      letter-spacing: 2px;
    }
  }
}

@media screen and (max-width: 600px) {
  .about_container{
    padding: 3.7rem 2rem;
    margin-bottom: 4rem;

    .timer{
      margin-bottom: 1rem;
      padding-bottom: 1rem;

    div{
      margin-bottom: 1rem;
      padding-bottom: 1rem;

      h3{
        font-size: 28px;
      }
    }
  }

  .devfest{
    display: none;
  }
  }
}
